body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(RE\ logo.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-top: 10px;
}

.logo h1 {
    font-size: 2em;
    margin: 0;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.section {
    padding: 20px;
    color: white;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.property {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 30%;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1s forwards;
    color: white;
}

.property:nth-child(2) {
    animation-delay: 0.5s;
}

.property:nth-child(3) {
    animation-delay: 1s;
}

.property img {
    max-width: 100%;
    
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
